@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*НАВИГАЦИЯ*/
nav {
  -webkit-box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.38);
}
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 72px;
}
nav .logo a {
  height: 100%;
  padding: 15px 15px 15px 0;
  display: block;
}
nav .nav-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
}
nav .nav-btn a.sign-in {
  color: #1D1D1D;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  border: #E0E0E0 solid 1px;
  border-radius: 3px;
  padding: 13px 25px;
  display: inline-block;
}
nav .nav-btn a.sign-in:hover {
  background: #E0E0E0;
}
nav .nav-btn a.basket {
  display: inline-block;
  padding: 10px 15px 10px 15px;
  border-radius: 3px;
}
nav .nav-btn a.basket:hover {
  background: #E0E0E0;
}

/*Jumbotron*/
.jumbotron {
  background: url(img/jumbotron-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 364px;
  display: flex;
  align-items: center;
}
.jumbotron .card {
  background: #fff;
  -webkit-box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.38);
  padding: 40px;
}
.jumbotron .card > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jumbotron h1 {
  color: #1D1D1D;
  text-align: center;
  font-size: 30px;
  padding: 0;
  margin: 0 0 30px 0;
}
.jumbotron .tag {
  display: inline-block;
}
.jumbotron .tag a {
  color: #626262;
  font-size: 14px;
  text-decoration: none;
}
.jumbotron .tag a:hover {
  text-decoration: underline;
}
.jumbotron .time {
  display: inline-block;
  background: #262626;
  color: #fff;
  border-radius: 50px;
  padding: 12px;
}

@media screen and (max-width: 767px) {
  .jumbotron {
    height: 255px;
  }
  .jumbotron .card {
    margin-top: 200px;
  }
  .jumbotron .card > div {
    height: 90px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
/*FILTER*/
.filter {
  padding-top: 35px;
  padding-bottom: 35px;
  border-bottom: #E3E3E3 solid 1px;
}
.filter button {
  background: none;
  border: 0;
  font-size: 16px;
  color: #626262;
  padding: 10px 15px 10px 15px;
}
.filter button:hover {
  color: #327430;
  background: #F9F9F9;
}
.filter button:focus {
  outline: none;
}
.filter button.active {
  color: #327430;
}

@media screen and (max-width: 767px) {
  .filter {
    margin-top: 100px;
  }
}
/*TABS*/
#tab-item {
  padding-bottom: 65px;
}
#tab-item h2 {
  color: #1D1D1D;
  font-size: 22px;
  margin-top: 56px;
  margin-bottom: 32px;
  margin: 56px 0 32px 15px;
}
#tab-item .row > div {
  padding: 15px;
}
#tab-item .card {
  border: #DFDFDF solid 1px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
}
#tab-item .card:hover {
  background: #F9F9F9;
}
#tab-item .info {
  position: relative;
  padding: 16px 0 0 16px;
}
#tab-item .info h3 {
  font-size: 16px;
  color: #1D1D1D;
  margin: 0;
}
#tab-item .info p {
  margin-top: 10px;
  font-size: 13px;
  color: #626262;
}
#tab-item .info span {
  font-size: 15px;
  color: #1D1D1D;
  font-weight: 600;
  position: absolute;
  bottom: 16px;
  left: 16px;
}

/*FOOTER*/
footer {
  background: #262626;
  padding-top: 46px;
}
footer .footer-logo {
  padding: 10px;
  display: inline-block;
}
footer hr {
  background: #979797;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 100%;
  height: 1px;
  border: none;
}
footer .dropdown button {
  color: #fff;
  border: 0;
  padding: 15px;
  width: 227px;
  height: 40px;
  background: #3B3B3B;
  display: flex;
  align-items: center;
}
footer .dropdown button:hover {
  background: #5B5B5B;
}
footer .dropdown button:focus {
  outline: 0;
  background: #5B5B5B;
}
footer .dropdown button img.world {
  margin-right: 15px;
}
footer .dropdown button img.mark {
  margin-left: auto;
}
footer .dropdown #menu {
  display: none;
}
footer .row a {
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
footer .uber {
  font-size: 16px;
}
footer .uber i {
  color: #49A144;
  margin-right: 5px;
}
footer .soc a {
  display: inline-block;
  margin: 2px;
  padding: 3px;
}
footer .market {
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer .copyright {
  padding-bottom: 30px;
}

/*toTOP btn*/
a.to-top-btn {
  background: #59BD5A;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 16px;
  bottom: 24px;
}
a.to-top-btn:hover {
  background: #6DEB6E;
}

@media screen and (max-width: 320px) {
  a.to-top-btn {
    height: 64px;
    width: 64px;
  }
}

/*# sourceMappingURL=style.css.map */
